* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  background: #f2f2f2;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 30vw;
  height: 400px;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 10px #d6d6d6;
  border-radius: 5px;
  background: #fff;
  padding: 40px;
}

.wrapper-form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.field-wrapper {
  width: 100%;
}

.field-wrapper label {
  display: block;
}

.col-full {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col-full input {
  padding: 5px;
  width: 100%;
}