* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  height: 100vh;
}

.wrapper-form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 50px;
  margin: 30px -30px;
  background: white;
  box-shadow: 0 0 10px #ccc;
}

.wrapper-form h3 {
  width: 100%;
}

.field-wrapper {
  width: 100%;
}

.field-wrapper label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.5px;
  margin-bottom: 5px;
}

.col-full {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col-full input {
  padding: 5px;
  width: 80%;
}

.image {
  background: url('../beach-form.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 4;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.image .image-container {
  display: block;
  margin: 20% auto 0 auto;
  background: rgba(0,0,0,.4);
  width: 100%;
  text-align: center;
  padding: 20px;
}

.form-wrapper {
  flex: 5;
  padding: 5% 30px 0;
}

.form-wrapper h3.title {
  max-width: 55%;
  margin: 20px 0;
  line-height: 1.2;
  font-size: 22px;
}

.btn-createaccount {
  background-color: #6b7f5a;
  padding: 15px 40px;
  border: transparent;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.login-msg {
  margin: 30px 20px 20px;
}
.login-msg a {
  color: #6b7f5a;
  text-decoration: none;
  font-weight: bold;
}